@import 'reset.css';
@import 'font-awesome/css/all.min.css';
@import 'font-google/css/all.css';

body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    width: 210mm;
    /*box-sizing: border-box;*/
    margin: auto;
    background: #FFFFFF;
    padding: 10px 10px 10px 10px;
    line-height: 150%;
}

p { margin: 0.75em 0; }

h1, h2, h3 {
    font-family: "Noto Sans", sans-serif;
    color: #0f1720;
}

h1 {
    font-weight: 600;
    font-size: 3.5em;
    float: left;
    width: 40%;
    margin-top: 0.0em;
    line-height: 130%;
}

h2 {
    font-size: 2em;
}

h1 + div {
    float: right;
    width: 50%;
    margin: 0.15em 0 0.8em;
    padding-right: 0.65em;
    text-align: right;
    line-height: 145%;
    border-right: 0.45em solid #3e87a3;
}

/* workaround instead of blockquote for wkhtmltopdf
https://github.com/wkhtmltopdf/wkhtmltopdf/issues/4115
*/
p.blockquote {
    text-align: justify;
}

em {
    font-style: italic;
    font-size: 90%;
}

dd p { margin: 0.05em 0; }

h2 {
    margin: 0.65em 0 0.3em;
    padding-bottom: 0.12em;
    font-size: 1.9em;
    font-weight: 700;
    line-height: 120%;
    border-bottom: 0.1em solid #c84c09;
}

h3 {
    margin: 0.75em 0 0.2em;
    font-size: 1.1em;
    font-weight: 700;
}

h2 > i.fa {
    width: 1.35em;
    margin-left: -1.5em;
    text-align: right;
    color: #c84c09;
}

i.fa, i.fab, i.fas { color: #0f1720; }

a {
    color: #2b7897;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 2px solid #9fd0df;
    white-space: nowrap;
}

a:hover {
    color: #fff;
    background: #2b7897;
    border-bottom-color: #2b7897;
}

hr {
    background-color: #c84c09;
    height: 0.1em;
    display: block;
    border: none;
    margin: 0px;
    clear: both;
    margin-top: 1em;
    margin-bottom: 1em;
}

ul {
    margin: 0.35em 0 0.8em;
    padding-left: 1.35em;
}
dd {
    margin-left: 1.4em;
    font-weight: 400;
}

dl {
    border-left: 7px solid #3e87a3;
    padding-left: 0.65em;
    margin: 0.55em 0 0.9em 0.2em;
    font-weight: 700;
}



@media print {
    @page {
        margin: 1cm 1.2cm;
    }

    body {
        width: 230mm;
        font-size: 90%;
        margin-left: 0.4cm;
        padding-left: 1cm;
        padding-right: 1.4cm;
    }

    h1 { font-size: 3em; }
    h2 { font-size: 1.75em; page-break-after: avoid; }
    h3, dt { page-break-after: avoid; }

    a {
        color: #2b7897;
        background: none;
    }
}